{% extends "base.html" %}

{% block content %}

<form action="/add" method="POST">

    <input name="title" placeholder="Task">

    <input name="deadline" placeholder="Deadline">

    <button type="submit">
        Add Task
    </button>

</form>

<ul>
{% for task in tasks %}
    <li>
        {{ task.title }}
        |
        Deadline: {{ task.deadline }}
        |

        {% if not task.completed %}
            Completed: False

            <form action="/complete/{{ task.id }}" method="POST">
                <button type="submit">Complete</button>
            </form>

        {% else %}
            Completed
        {% endif %}

        <a href="/edit/{{ task.id }}">Edit</a>

        <form action="/delete/{{ task.id }}" method="POST">
            <button type="submit">Delete</button>
        </form>
        
    </li>
{% else %}
    <li>No tasks yet.</li>
{% endfor %}
</ul>

{% endblock %}