<!DOCTYPE html>
<html>

<head>
    <title>Task Manager</title>
</head>

<body>

<h1>My Task Manager</h1>

<form action="/add" method="POST">

    <input name="title" placeholder="Task">

    <input name="deadline" placeholder="Deadline">

    <button type="submit">
        Add Task
    </button>

</form>

<ul>
{% for task in tasks %}
    <li>
        {{ task.title }}
        |
        Deadline: {{ task.deadline }}
        |

        {% if not task.completed %}
            Completed: {{ task.completed }}

            <form action="/complete/{{ task.id }}" method="POST">
                <button type="submit">Complete</button>
            </form>
        {% else %}
            Completed
        {% endif %}

        <a href="/edit/{{ task.id }}">Edit</a>

        <form action="/delete/{{ task.id }}" method="POST">
        <button type="submit">Delete</button>
        </form>
    </li>
{% else %}
    <li>No tasks yet.</li>
{% endfor %}
</ul>

</body>

</html>